extends layout

block layout-content

  html
    head
      script(src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/6.0.0/bootbox.min.js" integrity="sha512-oVbWSv2O4y1UzvExJMHaHcaib4wsBMS5tEP3/YkMP6GmkwRJAa79Jwsv+Y/w7w2Vb/98/Xhvck10LyJweB8Jsw==" crossorigin="anonymous" referrerpolicy="no-referrer")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js" integrity="sha512-uE2UhqPZkcKyOjeXjPCmYsW9Sudy5Vbv0XwAVnKBamQeasAVAmH6HR9j5Qpy6Itk1cxk+ypFRPeAZwNnEwNuzQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
    body()

      div( class="swipe-container")
        div(id="outerBorder" class="text-center center" style="background-color: var(--firstColor); width:80%; border-radius:60px;")
          div(id="innerBoarder" class="center" style="background-color: var(--secondColor); width: 100%; border-radius: 45px;")

            h1(style="font-family: Modak; color:var(--firstColor); letter-spacing: 4;") Admin View
          
            br

            ul(class="nav nav-pills justify-content-center")
              li(class="nav-item")
                a(class="nav-link" onclick="changePage('/admin/view/users')" style="color:white;") Users
              li(class="nav-item")
                a(class="nav-link active") Categories

            br

            div(class="container text-center")
              div(class="row")
                div(class="col")

                  ul(class="list-group" id="sideList")

                  div(style="height:30px")

                div(class="col")
                  div(class="justify-content-center")

                    button(type="button", class="btn btn-success" style="position:relative; bottom:0;" onclick="saveBtnClicked()") Save Changes
                    button(type="button", class="btn btn-danger" style="position:relative; bottom:0;" onclick="deleteUsr()") Delete Category

                    br
                    br

                    div(class="input-group" style="min-width:190px;")
                      span(class="input-group-text") Name:
                      input(type="text" class="form-control" aria-label="With textarea" id="personName" )  
                      
                    br

                    h3 Category Visability

                    div(class="container" style="background-color: rgba(41, 25, 25, 0.27); width: fit-content; padding: 0px; border-radius:10px;")
                      input(type="radio" class="btn-check" name="visable" id="success-outlined" autocomplete="off" checked )
                      label(class="btn btn-outline-success" for="success-outlined" id="visable") Visable

                      input(type="radio" class="btn-check" name="visable" id="danger-outlined" autocomplete="off")
                      label(class="btn btn-outline-danger" for="danger-outlined") Hidden

                    br
                    br

                    h3 User Visability
                    button(type="button", class="btn btn-success" style="position:relative; bottom:0;" onclick="newShowVal(true)") Show For All
                    button(type="button", class="btn btn-danger" style="position:relative; bottom:0;" onclick="newShowVal(false)") Hide For All
                    
                    div(id="catContainer")
            



          

      script.
        var categories = !{categories};
        var users = !{users};

        adjustDivSize()

      script(src="/static/adminLib.js")
      script(src="/static/adminViewCategories.js")
