extends layout

block layout-content

  html
    head
      link(href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap" rel="stylesheet")

    body(onload="pageLoaded()")

      div(id="duckBackground")

      div(id="outerBorder" class="text-center center" style="background-color: var(--firstColor);")
        div(id="innerBoarder" class="center" style="background-color: var(--secondColor); width: 100%;")
          strong
            h1(id="leaderboardText" style="font-family: Modak; color:var(--thirdColor); letter-spacing: 4;") Leaderboard

          div(style="overflow-x: auto; overflow-y: hidden; white-space: nowrap;")
            table( id="myTable" class="display")
              thead
                  tr(id="colNames")
                    th(style="color:white;") User

              tbody(id="list" style="color:white" class="table-group-divider")
            
      button(type="button", class="btn btn-warning" style="position:relative; bottom:0;" onclick="changePage('/admin')") Admin
      
      script.
         var colNames = !{colNames};

         adjustDivSize()
         
      script(src="/static/stats.js")