extends layout

block layout-content

  html
    head
      link(href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap" rel="stylesheet")

    body(onload="pageLoaded()")

      div(id="outerBorder" class="text-center center frosted-glass")
        div(id="innerBoarder" class="center")
          strong
            h1(id="leaderboardText" style="font-family: Modak; color: rgb(58, 72, 76); letter-spacing: 4;") Leaderboard

          div(style="overflow-x: auto; overflow-y: hidden; white-space: nowrap;")
            table( id="myTable" class="display")
              thead
                  tr(id="colNames")
                    th(style="color:white;") User

              tbody(id="list" style="color:white" class="table-group-divider")

      div(style="height:100px")
            
      div(id="bottomLeftBtns" class="form-check form-switch")
        button(type="button", class="btn btn-warning" style="position:relative; bottom:0; display: block; margin-bottom: 10px;" onclick="changePage('/admin')") Admin
        button(type="button", class="btn btn-success" style="position:relative; bottom:0; display: block;" onclick="submitCTF()") Submit CTF
      
      div(id="duckPhysicsSwitchDiv" class="form-check form-switch")
        input(class="form-check-input" type="checkbox" id="physicsSwitch" name="darkmode" value="yes" checked)
        label(class="form-check-label" for="physicsSwitch" style="font-family: 'Madimi One', sans-serif; color: rgb(255, 255, 255); letter-spacing: 4;") Duck Physics

      div(id="duckBackground")
      div(id="rippleBackground")
    
      script.
        var colNames = !{colNames};

        adjustDivSize()

      script(src="/static/duck.js")
      script(src="/static/ripple.js")
      script(src="/static/stats.js")