:root {
  /* --firstColor: rgb(234, 145, 78); */
  --firstColor: rgb(41, 51, 53);
  --secondColor: rgb(100, 112, 133);
  --thirdColor: rgb(75, 50, 40);
}
.center {
  padding: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.goodRedult {
  /*background-color: rgb(var(--bs-success));*/
  background-color: rgb(62, 90, 62);
}
.badResult {
  /*background-color: rgb(var(--bs-danger));*/
  background-color: rgb(114, 73, 73);
}


body {
  /* background-color: rgb(254, 254, 235); */
  background-color: rgb(58, 72, 76);
}
.firstColor {
  color: var(--firstColor);
}
.secondColor {
  background-color: var(--secondColor);
}
.thirdColor {
  color: rgb(83, 87, 138);
  filter: drop-shadow(10px 5px 4px #101010);
}
.altColor {
  background-color: rgb(var(--bs-tertiary-bg-rgb));
}
  
h3 {
  color: white;
}
  
  
.formBackground {
  background-color: rgb(var(--bs-border-color-rgb));
  padding: 5%;
  border-radius: 20px;


  filter: drop-shadow(8px 8px 10px #101010);
} 
.formBackground input {
  color: black;
  background-color: white;
}
  
.frosted-glass {
  background: rgba(181, 212, 214, 0.357); /* Adjust the opacity as needed */
  backdrop-filter: blur(20px); /* Adjust the blur radius as needed */
  /* filter: blur(2px); */
  -webkit-backdrop-filter: blur(5px); /* Support for older Safari versions */
  box-shadow: 10px 10px rgba(181, 212, 214, 0.066);
}
  
  
  

  
  
header {
  align-items: center;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
  border-radius: 5px;
}



.formBackground input {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}





.dataTables_wrapper .dataTables_filter {
  float: none;
  text-align: center;
  color: rgb(255, 255, 255);
}
.dataTables_wrapper .dataTables_filter input{
  color: rgb(255, 255, 255);
  background-color: rgb(58, 72, 76);
  margin: 0px;
  width: 100%;
}
.dataTables_wrapper .dataTables_length {
  float: none;
  text-align: center;
  margin-top: 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: white !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background-color: rgb(var(--bs-primary-rgb));
  border-radius: 5px;
  color: white !important;
}
.paginate_button:hover {
  background: rgb(var(--bs-body-bg-rgb)) !important;
  border-radius: 10px !important;
  border-color: rgb(var(--bs-primary-rgb)) !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  color: rgb(var(--bs-body-bg-rgb)) !important;
}



@keyframes rotatingCW {
  0% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(40deg);
  }
}
@keyframes rotatingCCW {
  0% {
    transform: rotate(-40deg) scaleX(-1);
  }
  50% {
    transform: rotate(40deg) scaleX(-1);
  }
  100% {
    transform: rotate(-40deg) scaleX(-1);
  }
}

.rotatingCW {
  animation: rotatingCW 100s linear infinite;
}
.rotatingCCW {
  animation: rotatingCCW 100s linear infinite;
}

.duck {
  
}
.duck:hover {
  filter: drop-shadow(0px 0px 10px #4040404e);
}

#duckPhysicsSwitchDiv {
  position: fixed; 
  bottom:0px; 
  right:0px; 
  padding:10px; 
  zIndex:1000;
}
#bottomLeftBtns {
  position: fixed; 
  bottom:0px; 
  padding:10px; 
  zIndex:1000;
}